<div class="body">
    <div class="left">
        <button>filters</button>
        <div>
        {{#each effects}}
            <div>
                <p style="color: white">{{name}}</p>
                <img src="data:image/{{../format}};base64, {{../base64}}" style="width: 100px; filter:{{name}}(100%)">
            </div>
        {{/each}}
        </div>
    </div>
    <div class="right" style="padding: 0;">
        <p style="color: white">{{path}}</p>
        <img src="data:image/{{format}};base64, {{base64}}">
    </div>
