<div class="body">
    <div class="left">
        <button id="addfolder">Nowy folder</button>
        <button id="addfile">Nowy plik tekstowy</button>
        <form action="/uploadf" method="post" class="right" style="padding: 0;background: transparent" id="uploadform">
            <input type="file" name="filefold" id="file-upload">
            <button id="upload" style="border-radius: 0 0 5px 5px;" type="button">wybierz</button>
        </form>
    </div>
    <div class="right" style="overflow-y: scroll">
        <div class="path">
            {{#each pathArr}}
            <p>{{this}}</p>
            <p style="color: grey;">&nbsp;&gt;&nbsp;</p>
            {{/each}}
        </div>
        {{#each files}}
        <form method="get" id="folders" onsubmit="return logdelete(this)">
            {{#each this}}
            {{#if this.type}}
            <div class="folder">
                <div class="flex-max">
                    <h1>📁</h1>
                    <button formaction="/folder&name={{this.name}}">X</button>
                </div>
                <a href="/path={{this.path}}">{{this.name}}</a>
            </div>
            {{/if}}
            {{/each}}
        </form>
        <form method="get" id="files" onsubmit="return logdelete(this)">
            {{#each this}}
            {{#if this.type}}
            {{else}}
            <div class="file">
                <div class="flex-max">
                    <h1>📝</h1>
                    <button formaction="/file&name={{this.fullname}}">X</button>
                </div>
                <div style="display: flex">
                    <p>{{this.name}}</p>
                    <p style="position: relative;left: -5px;">{{this.format}}</p>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </form>
        {{/each}}
    </div>
</div>

<dialog>
    <form action="/newfolder" method="post" id="new">
        <p id="dialogtext"></p>
        <input type="text" name="name" pattern='^[^<>:&#147\/\\|?*\x00-\x1F]+[^ .\\\/&#147]$' required>
        <div>
            <button type="submit">OK</button>
            <button id="cancel" type="cancel">cancel</button>
        </div>
    </form>
</dialog>
