
<div class="body">
    <div class="left">
        <button id="addfolder">Nowy folder</button>
        <button id="addfile">Nowy plik tekstowy</button>
        <form action="/uploadf" method="post" class="right" style="padding: 0" id="uploadform">
            <input type="file" name="filefold" id="file-upload">
            <button id="upload" style="border-radius: 0 0 5px 5px;" type="button">wybierz</button>
        </form>
    </div>
    <div class="right">
        {{#each files}}
            <form method="get" id="folders">
            {{#each this}}
                {{#if this.type}}
                <div class="folder">
                    <h1>📁</h1>
                    <p>{{this.name}}</p>
                    <button formaction="/folder&name={{this.name}}">X</p>
                </div>
                {{/if}}
            {{/each}}
            </form>
            <form method="get" id="files">
                {{#each this}}
                    {{#if this.type}}
                    {{else}}
                    <div class="file">
                        <h1>📝</h1>
                        <p>{{this.name}}</p>
                        <button formaction="/file&name={{this.name}}">X</p>
                    </div>
                    {{/if}}
                {{/each}}
            </form>
        {{/each}}
    </div>
</div>

<dialog>
    <form action="/newfolder" method="post" id="new">
        <p id="dialogtext"></p>
        <input type="text" name="name" pattern='^[^<>:&#147\/\\|?*\x00-\x1F]+[^ .\\\/&#147]$' required>
        <div>
            <button type="submit">OK</button>
            <button id="cancel" type="cancel">cancel</button>
        </div>
    </form>
</dialog>

<script>
    const dialog = document.querySelector('dialog')
    const form = document.querySelector('#new')
    const btn1 = document.querySelector('#addfolder')
    const btn2 = document.querySelector('#addfile')
    const delfold = document.querySelector('#folder')
    const delfile = document.querySelector('#files')
    const cancelBtn = document.querySelector('#cancel')
    const upload = document.querySelector('#upload')
    const uploadform = document.querySelector('#uploadform')

    upload.addEventListener('click', () => {
        if(document.querySelector('#file-upload').value != ''){
            upload.type='submit'
            uploadform.submit()
        }
    });
    cancelBtn.addEventListener('click', () => {
        dialog.close()
    });
    btn1.addEventListener('click', () => {
        document.querySelector('#dialogtext').innerHTML = 'nazwa nowego folderu:'
        dialog.showModal();
    });
    btn2.addEventListener('click', () => {
        form.action = '/newfile'
        document.querySelector('#dialogtext').innerHTML = 'nazwa nowego pliku:'
        dialog.showModal();
    });
    function logfolddelete(event) {
        confirm("Sure?") ? form.submit() : null
    }
    function logfiledelete(event) {
        confirm("Sure?") ? form.submit() : null
    }
    delfold.addEventListener('submit', logfolddelete)
    delfile.addEventListener('submit', logfiledelete)
</script>